* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{

}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

header{
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  -webkit-box-shadow: 0px 10px 26px -2px rgba(0,0,0,0.49); 
  box-shadow: 0px 10px 26px -2px rgba(0,0,0,0.49);
  display: inline-block;
  width: 100%;
}
.hero--container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "logo logo search-bar search-bar search-bar user user";
}

.logo {
  grid-area: logo;
  display: inline-block;
  font-size: 4.5rem;
  color: #FBD1CF;
}
.logo span {
  background-image: url("./assets/icons/popcorn.png");
  background-size: cover;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  vertical-align: -30%;

}
.search-bar {
  grid-area: search-bar;
  height: 4rem;
  align-self: center;
  margin-top: 10px;

}
.user {
  grid-area: user;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user p{
  margin-left: 80px;
  margin-right: 15px;
  font-size: 2.2rem;
  color: rgb(107, 107, 107);
  font-weight: 600;
}
.profile-picture--container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url("./assets/icons/elbananero.jpg");
  background-size: cover;
}


.main--container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.nav--container {
  background-color: #FC6463;
  padding: 30px;

}
.ul--container {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:  "home"
                        "trending"
                        "likes"
                        "."
                        "."
                        "."
                        "."
                        "settings";
  height: 100%;
}
.ul--container li {
  list-style: none;
}

.home {
  grid-area: home;
}
.trending {
  grid-area: trending;
}
.likes {
  grid-area: likes;
}
.settings {
  grid-area: settings;
}

.home span, .trending span, .likes span, .settings span {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-top: 30px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home-icon {
  font-size: 5rem;
  color: white;
}
#trending-icon {
  font-size: 5.5rem;
  color: white;
  margin-left: 8px;
}
#like-icon {
  font-size: 5.5rem;
  color: white;
}
#settings-icon {
  font-size: 5.5rem;
  color: white;
}

.content--container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 30px 50px;
  height: auto;
  justify-self: center;
}
.content--container h2 {
  font-size: 2.2rem;
  padding-top: 35px;
}
.cine, .critic, .no-lost {
  display: grid;
  grid-template: 20px 1fr / repeat(3, auto) ;  
  grid-template-areas: "category category category"
                        "movie-1 movie-2 movie-3";
  
  row-gap: 60px;
  column-gap: 70px;
}

.category {
  grid-area: category;
}

.movie-1 {
  grid-area: movie-1;
}
.movie-2 {
  grid-area: movie-2;
}
.movie-3 {
  grid-area: movie-3;
}

.content--container img {
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
}

.content--container img:hover {
  
}

.post-overlay {
  background-color: rgb(253,101,100, 0.5);
  position: relative;
  top: -51%;  
  width: 100%;
  max-width: 400px;
  height: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.movie-1:hover .post-overlay, .movie-2:hover .post-overlay, .movie-3:hover .post-overlay {
  display: flex;
  flex-direction: column;
}