* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{

}

html {
  font-size: 62.5%;
}


.hero--container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "logo logo search-bar search-bar search-bar user user";
}

.logo {
  grid-area: logo;
  display: inline-block;
  font-size: 4.5rem;
  color: #FBD1CF;
}
.logo span {
  background-image: url("./assets/icons/popcorn.png");
  background-size: cover;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 10px;
  vertical-align: -60%;

}
.search-bar {
  grid-area: search-bar;
  height: 4rem;
  align-self: center;
  margin-top: 10px;

}
.user {
  grid-area: user;
  display: flex;
  align-items: center;
}
.user p{
  margin-left: 80px;
  margin-right: 15px;
  font-size: 2.2rem;
  color: rgb(107, 107, 107);
  font-weight: 600;
}
.profile-picture--container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url("./assets/icons/elbananero.jpg");
  background-size: cover;
}


.main--container {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.nav--container {
  background-color: #FC6463;
  padding: 10px;
}
.ul--container {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:  "home"
                        "trending"
                        "likes"
                        "."
                        "."
                        "."
                        "."
                        "settings";
  height: 100%;
}

.home {
  grid-area: home;
}
.trending {
  grid-area: trending;
}
.likes {
  grid-area: likes;
}
.settings {
  grid-area: settings;
}

.home span, .trending span, .likes span, .settings span {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-top: 50px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home span {
  background-image: url("./assets/icons/SVG/home3.svg");
}
.trending span {
  background-image: url("./assets/icons/SVG/fire.svg");
}
.likes span {
  background-image: url("./assets/icons/SVG/heart.svg");
}
.settings span {
  background-image: url("./assets/icons/SVG/cog.svg");
}



.content--container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 50px;
  height: auto;
}
.cine, .critic, .no-lost {
  display: grid;
  grid-template: 20px 1fr / repeat(3, auto) ;  
  grid-template-areas: "category category category"
                        "movie-1 movie-2 movie-3";
  gap: 10px;
}

.category {
  grid-area: category;
}

.movie-1 {
  grid-area: movie-1;
}
.movie-2 {
  grid-area: movie-2;
}
.movie-3 {
  grid-area: movie-3;
}

.content--container img {
  max-width: 400px;
  width: 100%;
}